<table>
  <tr>
    <th>User</th>
    <th>Items Purchased</th> 
    <th>Categories</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <td> 
        <% user.items.each do |item| %>
          <ul>
            <li><%= item.name %></li>
              <ul>
                <% item.categories.each do |category| %>
                  <li><%= category.name %></li>
                <% end %>
              </ul>
          </ul>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>