<h1><%= @user.name %></h1>

<table>
  <tr>
    <th>Items Purchased</th> 
  </tr>
  <% if !@user.items.empty? %>
    <% @user.items.each do |item| %>
      <tr>
        <td> 
          <%= item.name %>
          <% if !item.categories.empty? %>
            <ul>
              <p  style="font-weight: bold; color: red"> Categories: </p>
              <% item.categories.each do |category| %>
                <li><%= category.name %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <p> This user has no items purchased </p>
  <% end %>
</table>